body{
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
}
h1{
  font-size: 90px;
  font-weight: 700;
  background-color: rgba(255, 167, 182, 0.24);
color: black;
  letter-spacing: 2px;
}
.side{
  width: 50%;
  height: 100%;
  overflow: hidden;
  top: 0;
}
.side.left{
position: absolute;
left: 0;
cursor: pointer;
background-image: url(https://sdcdn.io/mac/us/mac_sku_S4K001_1x1_0.png?width=1440&height=1440);
background-size: cover;
background-color: white;
}
.side.left h1{
  color: black;
  background-color: rgba(255, 167, 182, 0.24);
}
.side.right{
  position: absolute;
  right: 0;
  cursor: pointer;
  background-image: url(lipgloss.jpg);
  background-size: cover;
}
.active-left .left{
  width: 65%;
}

.active-left .right{
  width: 35%;
}

.active-right .left{
  width: 35%;
}

.active-right .right{
  width: 65%;
}
.left, .right{
  transition: width 1.5s ease-in-out;
}
button{
  position: absolute;
  padding: 20px 40px;
  border: 5px solid rgb(255, 167, 182);
  border-radius: 2px;
 
  cursor: pointer;
  transition: 0.4s;
  right: 10%;
  font-size: 18px;
  margin-top: 200px;
}
button:hover{
  width: 200px;
}
.left-btn{
  background-color: black;
  color: white;
}
.left-btn:hover{
  opacity: 0.8;
}
.right-btn{
  background-color: white;
  color:black;
}
  .right-btn:hover{
    opacity: 0.8;
  }

